[package]
name = "cli"
version = "0.1.0"
edition = "2024"

[dependencies]
pest = "2.8.5"
pest_derive = "2.8.5"
rustyline = "17.0.2"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.149"
